<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triage Portal</title>
</head>
<body>

    <div class="body-wrap">
        <div class="main">
          <nav class="nav-wrapper indigo" id="navMenu">
            <div class="container">
                <a href="index.html" class="brand-logo" v-cloak>{{nav.title}}</a>
                <a class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="triages.html" class="active" v-cloak>{{nav.tests}}</a></li>
                    <li><a href="howtotest.html" v-cloak>{{nav.howToTest}}</a></li>
                    <li><a href="https://triagetest.startng.app" v-cloak>{{nav.login}}</a></li>
                </ul>
            </div>
            
        </nav>
        <ul class="sidenav" id="mobile-links">
            <li><a href="triages.html">{{sidenav.tests}}</a></li>
            <li><a href="howtotest.html">{{sidenav.howToTest}}</a></li>
            <li><a href="https://triagetest.startng.app">{{sidenav.login}}</a></li>
        </ul>
        <div class="container" id="aboutTriage">
            <div class="welcome">
                <h5 class="indigo-text center-align page-title" v-cloak>{{triage.name}}</h5>
                <div v-for="data in triage.data">
                    <h6 v-cloak>{{data.header}}</h6>
                    <p v-cloak>{{data.paragraph}}</p>
                    <div class="about-triage-img">
                        <img :src="data.img" class="img" width="90%">
                    </div>
                    
                </div>
                <dir class="helpfull-links">
                    <h6 v-if="triage.links.length" v-cloak>{{triage.helpFullLinks}}</h6>
                    <ul>
                        <li v-for="link in triage.links">
                            <a :href="link.link" v-cloak>{{link.description}}</a>
                        </li>
                    </ul>
                </dir>
            </div>
            
        </div>
      </div>
      <footer class="page-footer indigo darken-4" id="footer">
        <div class="container">
            <div class="footer-copyright">

                © 2020 Triage Portal
                <ul class="right footer-menu">
                    <!-- <li><a class="grey-text text-lighten-4" href="http://triagetest.startng.app/#/remote/ru/121212"  target="_blank">remote</a></li> -->
                    <li><a class="grey-text text-lighten-4" @click="contactUs()" target="_blank" v-cloak>{{footer.contactUs}}</a></li>
                    <li><a class="grey-text text-lighten-4 right dropdown-trigger" data-target='translateDropDown' >
                        <i class="material-icons">translate</i><span v-cloak> - {{language}}</span>
                    </a></li>
                </ul>
                <ul id='translateDropDown' class='dropdown-content'>
                    <li><a @click="translate('ENG')">English</a></li>
                    <li><a @click="translate('ESP')">Espanol</a></li>
                    <li><a @click="translate('RUS')">Pусский</a></li>
                  </ul>
            </div>
        </div>
    </footer>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="data/shared.content.js"></script>
      <script src="data/"></script> 
      <script src="js/main.js"></script>
      <script src="js/triage.js"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script>  -->
</body>
</html>